---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="flex items-center justify-center h-screen bg-gray-100">
    <div class="text-center">
      <p class="text-xl font-semibold text-gray-800">
        This site is still under construction. In the mean time you can check
        out my <a href="https://github.com/rivnakm"><span class="text-violet-700">GitHub</span></a> or my <a
          href="https://www.linkedin.com/in/michael-rivnak/"><span class="text-violet-700">LinkedIn</span></a>
      </p>
    </div>
  </body>
</html>
